{% extends "base.html" %}

{% block title %}edit posts{% endblock %}

{% block content%}

<h1>Edit Post</h1>
<h2>{{post.content}}</h2>
<form method="POST">
    <table>
	<tr><th><label for="title">title</label></th>
	    <td><input name="title" type="text" value={{post.title}} /></tr></td>

	    <tr><th><label for="content">post content:</label></th>
		<td><textarea name="content">{{post.content}} </textarea></td></tr>
    </table>
    <input type="submit" value="Save" formaction="/posts/{{post.id}}/edit"></input>

</form>

<form>
    <input type="submit" value="Cancel IT" formaction="/posts/{{post.id}} " ></input>
</form>
{% endblock %}
