{% extends "base.html" %}

{% block title %}user detail{% endblock %}

2
{% block content%}
<img alt="" src=""/>
<h1 class="display-2 text-center">{{user.first}} {{user.last}}</h1>
<form class="text-center">
    <input class="btn" formaction="/users/{{user.id}}/edit" value="Edit" type="submit"></input>
    <input class="btn" formaction="/users/{{user.id}}/delete" value="Delete" type="submit"></input>
</form>
<form class="text-center" action="/users/{{user.id}}/posts/new">
    <button class="btn" type="submit">Add Post</button>
</form>


<div class="text-center">
    p<h2 class="display-3">Posts</h2>
    <hr/>
<ul>
    {% for post in user.posts %}
    <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
    {% endfor %}
</ul>

<br>
<a href="/">Goto Main List</a>
</div>
{% endblock %}
